#title {
  color: #f8f9fa;
}

.navlnk {
  padding: 9px 0;
}

#bhr {
  color: #f8f9fa;
  text-align: center;
  font-size: 6vw;
  margin-top: 7vw;
}

#sjl {
  font-size: 8vw;
  margin-top: 50vw;
}

.contact {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

#back-col {
  margin-bottom: 60px;
}

#back1 {
  height: 100%;
  width: 104%;
}

#news-right {
  margin-bottom: 30px;
}

#news-left {
  max-width: 100%;
  margin: 0 30px;
}

.news-col {
  margin-bottom: 30px;
}

.news-detail {
  padding-left: 0;
}

.Analysis-col {
  text-align: center !important;
  margin-top: 10vw;
}

#Analysis-title {
  margin: 10vw 0;
}

#lila {
  margin: 0 14vw;
}

#lilb {
  margin: 0 14vw;
}

.footer-contact {
  font-size: 8px;
}

#footer-contact-2 {
  font-size: 13px;
}

#motion-2 {
  margin-top: 15vw;
}

#motion-ex {
  right: 0;
}

.nav-small-back {
  background-color: #00C0C9;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 6px;
  transition-duration: .5s;
}

.bhr-ex-bl {
  color: #000000;
  transition-duration: .5s;
}

.bhr-ex-wh {
  color: #ffffff;
  transition-duration: .5s;
}