#title {
  color: #f8f9fa;
}

.navlnk {
  padding: 9px 0;
}

#nav-down {
  margin-top: 0;
}

#bhr {
  text-align: center;
  font-size: 6vw;
  margin-top: 1em;
  margin-left: 0;
}

#sjl {
  font-size: 9vw;
  margin-top: 4.5em;
}

#list {
  text-align: justify;
  margin-right: -1.5em;
}

.contact {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

#back-col {
  margin-bottom: 60px;
}

.slide-title {
  font-size: 16px;
}

.slide-content {
  font-size: 10px;
}

#news-right {
  margin-bottom: 60px;
}

.news-left {
  text-align: center !important;
}

.news-title {
  font-size: 16px;
  margin-top: 20px;
}

.news-detail {
  font-size: 13px;
  padding-left: 0;
  text-align: center;
}

.Analysis-col {
  text-align: center !important;
  margin-top: 10vw;
}

#Analysis-title {
  margin-top: 14vw;
}

#foot-back {
  background-position: center;
}

#lila {
  text-align: center;
  font-size: 7vw;
}

#lilb {
  margin: 0 7vw;
}

#copyright {
  font-size: 12px;
}

#copyright span {
  font-size: 13px;
}

.footer-contact {
  margin-top: 10px;
  margin-bottom: 40px;
}

#footer-contact-3 {
  margin-bottom: 0;
}

#motion-2 {
  margin-top: 15vw;
}

#motion-ex {
  right: 0;
}

.nav-small-back {
  background-color: #00C0C9;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 6px;
  transition-duration: .5s;
}

.bhr-ex-bl {
  color: #000000;
  transition-duration: .5s;
}

.bhr-ex-wh {
  color: #ffffff;
  transition-duration: .5s;
}

#todey-analysis {
  margin: 0;
}